.color-primary{
	background-color: #FAFBFC;
}

.color-secondary{
background-color: #DFDFDF;
}

body{
	transition: background-color 0.25s;
}

.pageHeader{
	font-family: 		'Open Sans', sans-serif;
	font-weight:		bold;
	font-size:			35px;
	line-height: 		50px;
	text-align: center;
	margin:				10px auto;
	color: 				#0A0A0A;
	user-select:		none;
}

.horizontalLine{
	height: 3px;
	width: 35%;
	margin: auto;
	background-color:	#008AE5;
}

.wrapper{
	width: 				35%;
	height: 			auto;
	border: 			2px solid #DFDFDF;
	border-radius: 		10px;
	margin: 			auto;
}

ul{
	list-style: 		none;
	padding:			0px;
	margin:				10px;
}

.liWrap{
	height: 			30px;
	width: 				98%;
	margin: 			10px auto;
	background-color:	#181C25;
	border-radius:		5px;
	padding: 			5px;
}

.liWrap:hover{
	background-image: 	linear-gradient(to right, #008AE5, #00E48B);
	cursor:				pointer;
}

.liWrap:hover  li:before{
	visibility:			hidden;
}

.bodyText{
	font-family:		'Open Sans', sans-serif;
	font-size: 			20px;
	line-height: 		30px;
	color:				#FFFFFF;
}

.bodyText li:before{
	display:			inline-block;
	content:			'';
	background-image: 	linear-gradient(to right, #008AE5, #00E48B);
	height: 			10px;
	width: 				10px;
	border-radius: 		100%;
	line-height:		30px;
	margin-right:		5px;
	margin-bottom:		2px;
}

a{
	text-decoration: 	none;
	color: 				#FFFFFF;
	user-select:		none;
}

a:visited{
	color:				#FFFFFF;
}

/*
Dashboard Table Content
*/

.dashWrapper{
	width:				fit-content;
	height: 			auto;
	border: 			2px solid #DFDFDF;
	border-radius: 		10px;
	margin: 			auto;
	transition: background-color 0.25s, border 0.25s;
}

table.dashboard{
	table-layout:		fixed;
	margin:				auto;
	padding:			5px;
}

tr.dashboard{
	width: 				100%;
}

td.dashboard{
	height:				130px;
	width: 				120px;
}

.dashButton{
	height: 			120px;
	width: 				120px;
	margin: 			5px;
	border-radius:		5px;
	transition: background-color 0.25s, color 0.25s, background-image 0.25s;
}

.dashButton:hover{
	cursor:				pointer;
}

.dashbutton:hover i{
	color: #FFFFFF;
}

.dashButton i{
	font-size: 			60px;
	line-height:		120px;
	width: 				120px;
	text-align: 		center;
	color:				#DFDFDF;
}

.roblox-background-element{
	margin-top:			-120px;
	color: 				#FFFFFF !Important;
	transition: color 0.25s;
}

.roblox i{
	font-size:			50px;
}

.stockx i{
	height: 120px;
	width: 120px;
	display: block;
}

.stockx:hover{
	background-color: #43AB49;
}

.logo-stockx{
	background-image: url("../img/icon/stockXG.png");
	background-size: contain;
}

.logo-stockx:hover{
	background-image: url("../img/icon/stockXW.png");
}

.netflix:hover{
	background-color: #E50914;
}

.logo-netflix{
	background-image:url("../img/icon/netflixG.png");
	background-size: contain;
}

.logo-netflix:hover{
	background-image:url("../img/icon/netflixW.png");
}
.crunchyroll{
	background-size: contain;
}

.crunchyroll:hover{
	background-color: #E59400;
	/*background-color: #fc9003; - this is what crunchyroll's hover colour was but like its too similar to amazon's and that bugs me
	on a physical level sorry *shrugs* */
}

.logo-crunchyroll{
	background-image: url("../img/icon/crunchG.png");
}

.logo-crunchyroll:hover{
	background-image: url("../img/icon/crunchW.png");
}

/*
COLORS
*/

.youtube:hover{
	background-color:	#FF0000;
}

.reddit:hover{
	background-color:	#FF4500;
}

.roblox:hover{
	background-color:	#0074BD;
}

.roblox:hover .roblox-background-element{
	color:				#0074BD !Important;
}

.facebook:hover{
	background-color:	#4267B2;
}

.steam:hover{
	background-color:	#1B2838;
}

.google:hover{
	background-color:	#4285F4;
}

.amazon:hover{
	background-color:	#FF9900;
}

.drive:hover{
	background-color:	#0F9D58;
}

.settings:hover{
	background-color:	#2850A7;
}

.ebay:hover{
	background-color:	#E43137;
}

.xbox:hover{
	background-color:	#107C10;
}

.battlenet:hover{
	background-color:	#00AEFF;
}

.twitch:hover{
	background-color:	#772CC8;
}

.gmail:hover{
	background-color: 	#BF4338;
}

.speedtest:hover{
	background-color: #1CBFFF;
}

.github:hover{
	background-color: #24292E;
}

.spotify:hover{
	background-color: #1ed760;
}

.soundcloud:hover{
	background-color: #ff5500;
}



/*
ADD ROW button
*/
.addRow{
	right:				130px;
	bottom:				0px;
	border-radius:	5px 5px 0px 0px;
}

/*
REMOVE ROW button
*/
.deleteRow{
	right:				260px;
	bottom:				0px;
		border-radius:	5px 5px 0px 0px;
}

/*
DARK MODE BUTTON
*/
.DMbutton{
	right:				0px;
	bottom:				0px;
	border-radius:	5px 0px 0px 0px;
}

/*
GENERAL BUTTON CSS
*/
.button{
	width: 				125px;
	height: 			30px;
	line-height: 		30px;
	border: 			1px solid #DFDFDF;
	background-color: 	#DFDFDF;
	text-align:			center;
	position:			fixed;
}

.button:hover{
	cursor:				pointer;
	background-color: 	#D0D0D0;
}

.button .label{
	font-family: 		'Open Sans', sans-serif;
	font-weight:		bold;
	font-size:			12px;
	line-height: 		30px;
	color: 				#FFFFFF;
	user-select:		none;
}
